/* The CSS code you provided is defining the styles for the `.question` and `.quizBoard` classes. */
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    pa
    height: 100vh;
    background: linear-gradient(-45deg, #294bf8 0%, #4444b2 100% );
}
.quizBoard{
    text-align: left;
    width: 50%;
}
            /* The following CSS code will create a shadow effect around the buttons */
            button:focus {
                outline: 0;
                box-shadow: 0 0 0 2px rgba(13, 110, 253,
                0.7);
                }
                /* The following CSS code will style the question number displayed at the top of the page */
                h1 {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    z-index: 1;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 1px;
                    font-weight: bold;
                    font-style: italic;
                    font-size: 1.5rem;
                    line-height: 1.2;
                    color: #fff;
                    opacity: 0.7;
                    transform: rotateZ(1deg);
                    filter: drop-shadow(0 0 10px rgba(255, 255, 255
                    0.5));
                    }

@media (max-width: 770px) {
    .quizBoard{
    width: 80%;
}
}
@media (max-width: 426px) {
.question{
    box-sizing: content-box;
}
}
@media (max-height: 580px) {
.question{
    height: 100%;
}
}