/* The CSS code you provided is defining the styles for the `.question` and `.quizBoard` classes. */
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */

    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #294bf8 0%, #4444b2 100% );
}
.quizBoard{
    text-align: left;
    width: 50%;
}

.boardFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/* This CSS code will make the quiz board appear in the middle of the screen on smaller screens (mobile) */
@media only screen and (max-width: 600px){
    .quizBoard {
        margin: auto;
        padding: 30px;
        }
        }
        /* This CSS code will make the question box have a white border with rounded corners when hovered over */
        /* The following CSS code will change the color of the button when it's hovered over or clicked */
        button:hover, button:active {
            background-color: rgb(255, 227, 237);
            border: none;
            color: #294bf8;
            font-size: 1em;
            padding: 10px 30px;
            text-align: center;
            transition: all 0.3s ease;
            cursor: pointer;
            }
            .boardFooter{
                width: 100%;
            }
            /* The following CSS code will create a shadow effect around the buttons */
            button:focus {
                outline: 0;
                box-shadow: 0 0 0 2px rgba(13, 110, 253,
                0.7);
                }
                /* The following CSS code will style the question number displayed at the top of the page */
                h1 {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    z-index: 1;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 1px;
                    font-weight: bold;
                    font-style: italic;
                    font-size: 1.5rem;
                    line-height: 1.2;
                    color: #fff;
                    opacity: 0.7;
                    transform: rotateZ(1deg);
                    filter: drop-shadow(0 0 10px rgba(255, 255, 255
                    0.5));
                    }

@media (max-width: 770px) {
    .quizBoard{
    width: 80%;
    height: 90vh;
}
.question{
    height: 100%;
}
}
/* @media (max-height: 425px) {
.question{
    height: 100%;
}
.quizBoard{
    height: 100vh;
}
} */